body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

h1 {
	font-family: 'Signika', 'Open Sans', sans-serif;
	font-size: 35px;
	font-weight: 600;
	text-align: center;
	margin-bottom:30px;
	text-transform: uppercase;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
h1 {
	font-family: 'Signika', 'Open Sans', sans-serif;
	font-size: 44px;
	font-weight: 600;
	text-align: center;
	margin-bottom:50px;
	text-transform: uppercase;
} }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
h1 {
	font-family: 'Signika', 'Open Sans', sans-serif;
	font-size: 44px;
	font-weight: 600;
	text-align: center;
	margin-bottom:50px;
	text-transform: uppercase;
} }


h2 {
	font-family: 'Signika', 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 24px;
}

h4 {
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	font-size: 24px;
}

h5 {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	padding: 12px 0 3px 0;
	border-bottom: 2px solid;
	margin: 0px auto 15px auto;
	width: 87px;
	font-weight: 600;
}

h6 {
	font-family: 'Signika', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding:0 0 0 20px;
	margin:0;
}

.white-section {
	color:#676767;
	background-color:#FFF;
	padding: 40px 0;
}

.green-section {
	color:#FFF;
	background-color:#64c5b5;
	padding: 40px 0;
}

.green-section a {
	color:#fff !important;
}

.padding-tb-70 {
	padding: 70px 0;
}
.padding-tb-10 {
	padding:10px 0;
}
.padding-lr-40 {
	padding: 0 40px;
}

.padding-10 {
	padding: 10px;
}

.underline {
	text-decoration: underline;
}

img.centered {
	display: block;
	margin: auto;
}

img.left {
	float:left;
	padding-right: 20px;
}
img.right {
	float:right;
	padding-left: 20px;
}

.centered {
	text-align: center;
}

.no-btm-padding {
	padding-bottom:0 !important;
}

.white {
	color:#fff;
}
.align-right {
	text-align: right;
}


a.nav-cta {
	background-color: #67addf;
	color:#FFF !important;
	font-weight: 600;
	border-radius: 5px;
}

a:hover.nav-cta {
	background-color: #64c5b6 !important;
	color:#FFF !important;
	font-weight: 600;
}

a.button-green {
    color: #64c5b6;
  font-family: 'Signika';
  font-size: 23px;
  border: 3px solid #64c5b6;
  padding: 10px 20px;
  margin: 10px auto;
  width: 231px;
  display: block;
  text-align: center
}

a.button-white {
    color: #FFF;
  font-family: 'Signika';
  font-size: 23px;
  border: 3px solid #FFF;
  padding: 10px 20px;
  text-align: center;
  width: 240px;
}

a.button-white-small {
  color: #FFF;
  font-family: 'Signika';
  font-size: 18px;
  border: 3px solid #FFF;
  padding: 10px 20px;
  text-align: center;
  	width: 170px;
}


a.centered {
	margin: 10px auto;
	display: block;


}

a.button-gray {
    color: #999;
  font-family: 'Signika';
  font-size: 23px;
  border: 3px solid #999;
  padding: 10px 20px;
  margin: 10px auto;
  width: 231px;
  display: block;
  text-align: center
}

.extra-padding-bottom {
	padding-bottom: 50px;
}


.navbar-default .navbar-nav>li>a {
	color:#777;
}

.navbar {
	border: 0px;
	padding: 7px 0;
}

.navbar a {
	font-size: 16px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #fff;
	font-weight: 600;
}

.hero h1 {
	font-size: 24px;
	font-weight: 300;
	color: #FFF;
	line-height: 1.5;
	text-align: center;
	padding: 30px 0 0 0;
	text-transform: none;
}

.hero{background: url('/images/bg.jpg') no-repeat   center center;
background-size: auto 100% ;
padding: 140px 0 50px 0;
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px) { 
.hero{background: url('/images/bg.jpg') no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding: 140px 0 50px 0;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bg.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg.jpg', sizingMethod='scale')";}
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) { 
.hero{background: url('/images/bg.jpg') no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding: 140px 0 50px 0;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bg.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg.jpg', sizingMethod='scale')";}
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px) { 
.hero{background: url('/images/bg.jpg') no-repeat   center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding: 140px 0 50px 0;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./images/bg.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg.jpg', sizingMethod='scale')";}
}

.navbar-brand {
	padding: 8px;
}


.navbar-default {
	background-color:#FFF;
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Signika', 'Open Sans', sans-serif;
}


.app-showcase {
	background-color: #64c5b6;
	padding: 40px 0 10px 0;
	color:#fff;
	text-align: center;
}

.app-showcase a {
	color:#fff;
}

.app-showcase h2 {
	margin: 16px 0 4px 0;
}

.how-it-works {
	color: #676767;
	padding: 40px 0 60px 0;
}

.how-it-works {
	margin-bottom:25px;
}

.how-to {
	padding-bottom: 20px;
}

h3.our-goal {
	font-family:'Signika', sans-serif;
	font-weight: 300;
	padding: 0px 0 50px 0;
	line-height: 1.5;
	text-align: center;
	font-size: 18px;
	margin-top:0;
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:992px) { 
h3.our-goal { 
	padding: 0px 100px 50px 100px;
	font-size: 24px;
	margin-top:0;
	}
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) { 
h3.our-goal { 
	padding: 0px 100px 50px 100px;
	font-size: 24px;
	margin-top:0;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px) { 
h3.our-goal { 
	padding: 0px 100px 50px 100px;
	font-size: 24px;
	margin-top:0;
	}
}

.how-it-works h2 {
	font-size: 14px;
	margin-top: 10px;
	font-weight: 300;
	font-family: 'Signika', 'Open Sans', sans-serif;
	text-align: center;
	text-transform: none;
}
/* Medium devices (desktops, 992px and up) */
@media(min-width:992px) { 
.how-it-works h2 { 
	font-size: 20px;
	text-transform: uppercase;
	text-transform: none;
  	font-weight: 300;
	}
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) { 
.how-it-works h2 { 
	font-size: 20px;
	text-transform: uppercase;
	text-transform: none;
  	font-weight: 300;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px) { 
.how-it-works h2 { 
	font-size: 20px;
	text-transform: uppercase;
	text-transform: none;
  	font-weight: 300;
	}
}

.policy {
	padding: 100px 0;
}

.policy h1 {
	color:#555;
}
.features {
	background-color: #67addf;
	padding: 40px 0;
	color:#fff;
}
.features a {
	color:#fff;
	font-weight: 400;
}

.features h2 {
	margin-top: 5px;
}

.get-started {
	padding: 50px 0;
}
.get-started h2 {
	text-align: center;
	color:#777;
	padding-bottom: 30px;
}

.get-started-groups {
	padding: 50px 0;
	background-color: #F26C6F;
}

.get-started-groups h2 {
	text-align: center;
	color:#FFF;
	padding-bottom: 30px;
}

.groups {
	background-color: #F26C6F;
	color:#FFF;
	padding:28px 0;
}

.groups a {
	color:#fff;
	font-weight: 300;
	font-size: 18px;
}

.groups h2 {
	text-transform: none;
	font-weight: 300;
	font-size: 32px;
	margin:35px 0 16px 0;
}
.hero-soccer {
	background: url('/images/bg-soccer.gif') no-repeat   center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff;
	padding: 140px 0 50px 0;
}

.hero-soccer h1 {
	color:#fff;
	text-align:center;
}

.hero-soccer-small {
	background: url('/images/bg-soccer-sm.gif') no-repeat   center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff;
	padding: 100px 0 50px 0;
}

.hero-soccer-small h1 {
	color:#fff;
	text-align:center;
}

.hero-groups {
	background: url('/images/bg-groups.gif') no-repeat   center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#fff;
	padding: 140px 0 50px 0;

}

.hero-groups h1 {
	color:#fff;
	text-align:center;
}



.hero-groups h3 {
	color:#fff;
	text-align: center;
	padding-bottom:50px;
	font-size: 18px;
}


.how-it-works-groups {
	color: #676767;
	padding: 40px 0 60px 0;
}

.how-it-works-groups {
	margin-bottom:25px;
}


.how-it-works-groups h2 {
	font-size: 14px;
	margin-top: 10px;
	font-weight: 400;
	font-family: 'Signika', 'Open Sans', sans-serif;
	text-align: center;
	text-transform: none;
}
/* Medium devices (desktops, 992px and up) */
@media(min-width:992px) { 
.how-it-works-groups h2 { 
	font-size: 20px;
	text-transform: uppercase;
	}
}

/* Small devices (tablets, 768px and up) */
@media(min-width:768px) { 
.how-it-works-groups h2 { 
	font-size: 20px;
	text-transform: uppercase;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media(min-width:1200px) { 
.how-it-works-groups h2 { 
	font-size: 20px;
	text-transform: uppercase;
	}
}


.how-to-groups {
	padding-bottom: 30px;
}


.footer {
	background-color: #333;
	color:#fff;
	padding:40px 0;
}

.footer a {
	color: #64c5b6;
}

.footer h2 {
	font-family: 'Signika', sans-serif;
	font-size: 18px;
}

.footer-cta {
	margin-bottom: 20px;
}

.footnote {
	text-align: center;
	margin-top: 30px;
}

.sticky-cta {
	position: fixed;
	bottom:0;
	background-color: #555;
	width:100%;
	padding:13px 0;
}

.sticky-cta a {
	font-size: 16px;
	color:#fff;
	text-align: center;
	display: block;
	font-weight: 600;
}

