<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4" >
          <h2>Offices</h2>
          

          <p><strong>Carmel</strong><br/>
              SW Corner of Dolores & 5th, Upstairs<br/>
              Carmel-by-the-sea, CA 93921</p>
              <p><strong>Seattle</strong><br/>
              1100 NE Campus Parkway<br/>
              Seattle, WA 98105</p>
        </div>
        <div class="col-md-4">
          <h2>Contact</h2>
          <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#112;&#114;&#121;&#118;&#121;&#46;&#99;&#111;&#109;'>&#105;&#110;&#102;&#111;&#64;&#112;&#114;&#121;&#118;&#121;&#46;&#99;&#111;&#109;</a>
          <p>(831) 316-9900</p>
          <p><strong>Mailing Address</strong><br/>
              P.O. Box 3087<br/>
              Carmel-by-the-sea, CA 93921</p>
        </div>
        <div class="col-md-4">
          <h2>Helpful Links</h2>
          <a href="{{ site.www_base_path }}/privacy.html">Privacy Policy</a><br/>
          <a href="{{ site.www_base_path }}/terms.html">Terms of Use</a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 footnote">
          <p>&copy; 2012-2015 Pryvy&trade; LLC   |    Patent Pending</p>
      </div>
    </div>
</footer>

<div class="container-fluid hidden-md hidden-sm hidden-lg sticky-cta">
  <div class="row">
    <div class="col-md-12">
        <a href="{{ site.app_base_path }}/signup">Sign up with Pryvy &#187;</a>
    </div>
  </div>
</div>
