<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NGSVKR"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NGSVKR');</script>
<!-- End Google Tag Manager -->

<header class="site-header">

  <div class="wrapper">

    <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"><img src="{{site.image_path}}/pryvy-logo-green.png" width="100"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
 
      <ul class="nav navbar-nav navbar-right">
        <li><a href="groups.html">Pryvy Groups</a></li>
        <li><a href="https://itunes.apple.com/us/artist/pryvy/id793025980">Download Apps</a></li>
        <li><a href="{{ site.app_base_path }}/Account/Login">Log In</a></li>
        <li><a href="{{ site.app_base_path }}/signup" class="nav-cta">Sign up<span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

  </div>

</header>
